<!doctype html>

<html ng-app="angLocApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="/ngLocations.js"></script>
    <meta charset="UTF-8">
</head>
<body>
<h1>Locations</h1>
<div ng-controller="HistoryListController">

    <table>
        <tr>
            <th>
                <td>Parcel ID</td>
                <td>Loc ID</td>
                <td>Date</td>
                <td>Time</td>
                <td>Operation</td>
                <td>Location Address</td>
                <td>City</td>
            </th>
        </tr>
        <tr ng-repeat="loc in located">
            <td>{{ loc.parcelID }}</td>
            <td>{{ loc.locID }}</td>
            <td>{{ loc.date }}</td>
            <td>{{ loc.time }}</td>
            <td>{{ loc.operation }}</td>
            <td>{{ loc.locAddress }}</td>
            <td>{{ loc.city }}</td>
        </tr>

    </table>

    <h2>Raw model</h2>
    {{ located }}
</div>
</body>
</html>

