<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Parcels of a customer</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Parcel Id</th>
        <th>Weight</th>
        <th>Destination</th>
    </tr>
    </thead>
    <tbody>
    <% parcels.forEach( (parcel) => { %>
    <tr>
        <td><%= parcel.custName %> </td>
        <td><%= parcel.parcelId %> </td>
        <td><%= parcel.weight %> </td>
        <td><%= parcel.finalLocation %> </td>
    </tr>
    <% }) %>
    </tbody>
</table>
<a href="http://localhost:3001/addParcel"><button>New Parcel</button></a>
<p>
    <a href="/"> Go Back to the Menu </a>
</p>

</body>
</html>